	.pledge-logo-section {
		color: @brand-body-color;
		background: @brand-login-page-feature-last url(../../images/fabric.png);
    	background-repeat: repeat;
    	background-size: 947px 530px;
    	background-position: 50% -1%;
		.section-header{
			font-weight: 100;
			font-size: 32px;
			extraLarge {
				font-size: 100px;
			}
		}
		.title {
			font-weight: 100;
			font-size: 32px;	
		}
		.feature-desc {
			font-weight: 100;
			font-size: 20px;	
		}
		
			
	}
	    @media (min-width: 768px) {
      .pledge-logo-section {
        padding: .75rem;
      }
    }
	.pledge-logo-section.main {

	}